/*************** Menu ****************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #96add6;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

/* .logo img {
  width: 100px;
  height: 120px;
} */

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #00408c;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; /* Overgang for farver */
  text-align: end;
  font-family: indie flower;
  font-size: 40px;
  background-color: #96add6;
  border-radius: 70px;
}

.menu a:hover {
  color: #ffffff; /* Ændrer tekstfarven ved hover */
  background-color: #556da2; /* Ændrer baggrundsfarven ved hover */
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #00408c;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #556da2;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

.menu-divider {
  border: none;
  border-top: 3px solid #556da2; /* Farve og tykkelse */
  margin: 0;
  width: 100%;
}

/* Menu slutter */

/*Footer styling */
footer {
  background-color: #96add6;
  font-family: indie flower;
  padding: 50px;
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

@media (max-width: 700px) {
  footer {
    padding: 70px;
    margin-top: 50px;
    font-family: indie flower;
  }
}

/*Footer slut*/

main {
  max-width: 1000px;
  margin: 10px;
}

/*Mobilversion*/

/*Desktop*/

@media (min-width: 800px) {
}
