/********Reset**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*******/

body {
  background-color: #f2eee9;
}

h1 {
  font-family: indie flower;
  color: #131110;
}

h2 {
  font-family: indie flower;
  color: #131110;
}

h3 {
  font-family: indie flower;
  color: #131110;
}

p {
  font-size: 15px;
  font-family: merriweather;
}

.knap {
  background-color: #96add6;
  color: #00408c;
  font-size: 30px;
  font-family: indie flower;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  width: 260px;
  margin: 10px;
}

.knap:hover {
  background-color: rgb(242, 242, 242);
  color: #00408c;
  transform: scale(1.05);
}

.hero {
  display: grid;
  background-image: url(img/Udkast\ til\ hero-section.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.hero_tekst {
  margin-left: 10px;
  color: #131110;
  font-family: indie flower;
  font-size: 100px;
}

.img-w-txt {
  display: grid;
  align-items: center;
}

.img-w-txt img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-w-txt p {
  grid-column: 1;
  grid-row: 1;
  font-size: 27px;
  font-family: indie flower;
  color: #131110;
  text-align: center;
  margin: 0;
  padding: 10px;
  z-index: 1;

  writing-mode: vertical-rl;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  transition: transform 0.3 ease;
}

a:hover {
  transform: scale(1.1);
}
